{% extends 'Base.html' %}
{% block main%}
<div class="container-fluid">
    <div class="row">
        <nav id="sidebar" class="col-md-2 d-none d-md-block bg-light sidebar">
            <div class="sidebar-sticky">
              
                <form action="" method="post" id="uploadCSV" enctype="multipart/form-data">
                    <div class="row justify-content-center">
                        <button type="button" class="btn btn-outline-success">
                            Upload .CSV
                            <input type="hidden" name="key" id="keyInput" value="">
                            <input type="file" class="file" name="file" id="file" onchange="handleFileChange()"/>
                        </button>
                        {% csrf_token %}
                    </div>

                    <div class="row justify-content-center">
                        <p id="fileMessage">Filename</p>
                    </div>
                    <div class="row justify-content-center">
                        <button type="submit" class="btn btn-outline-success" id="submitButton">Submit</button>
                    </div>
                </form>
                <br>
                {% block generate_sched%}
                
                {% endblock generate_sched%}

            </div>
        </nav>
    </div>

    <main id="main" role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
        <div id ="Schedule">
            {% for x in schedule %}
                {{ x }}<br>
            {% endfor %}
        </div>
    </main>
</div>
{% endblock main%}